# app configuration related packages
toml>=0.10.2
tomli>=2.0.1

# audio player package
python-vlc>=3.0.0

# web request packages
requests>=2.31.0
requests-oauthlib>=1.3.1

# youtube related packages
pytube>=15.0.0
youtube-search-python>=1.6.6

# lyrics related packages
syncedlyrics==0.9.0 # version 0.10.0 logs error using logging thus pollute the terminal's output
pylrc>=0.1.2

# test related packages (required only for development)
pytest>=7.1.3
# application distribution related package (only for development)
pyinstaller>=6.5.0
